[client]
host={{ wp_db_host | default(rds_host) | default('localhost') }}
port={{ wp_db_port | default(rds_port) | default('3306') }}
user={{ wp_db_user | default('admin') }}
password={{ wp_db_password | default('password') }}
database={{ wp_db_name | default('wordpress') }}

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4 