[client]
host={{ wordpress_db_host }}
user={{ wordpress_db_user }}
password={{ wordpress_db_password }}
database={{ wordpress_db_name }}

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4 